{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>char</title>
    {% comment %} <link rel="stylesheet" href="{% static "app/css/style.css" %}"> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  {{chart_data}}
   
    <div class="container">
      <div class="row">
      
          <div class="col-md-6 text-center">
            <h1>Order By Status</h1>
            <canvas id="myChart1"  width="400" height="400" aria-label="chart" role="img"></canvas>
          </div>
          <div class="col-md-6">
            <h1>chart page 2</h1>
            <canvas id="myChart2" width="400" height="400" aria-label="chart" role="img"></canvas>
          </div>

          <div class="col-md-6">
            <h1>chart page 3</h1>
            <canvas id="myChart3" width="400" height="400" aria-label="chart" role="img"></canvas>
          </div>
          {% comment %} <div class="col-md-6">
            <h1>chart page 2</h1>
            <canvas id="myChart2" width="400" height="400" aria-label="chart" role="img"></canvas>
          </div> {% endcomment %}
       
      </div>
  </div>


{{ chart_data|json_script:"chart_data" }}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static "orderapp/js/script.js" %}"></script>
</html>